<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kurogram</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <% if (locals.userInfo) { %>
    <link rel="stylesheet" href="../../css/login.css" />
    <% } else if (locals.user){%>
    <link rel="stylesheet" href="../../css/account.css" />
    <%}else if (locals.create){%>
    <link rel="stylesheet" href="../../css/create_account.css" />
    <%}%>
  </head>
  <body>
    <header class="index_header">
      <h1>Kurogram</h1>

      <% if (locals.info) { %>

      <div class="user">
        <div class="circle_user">
          <% if (userPhoto!=="") { %>
          <img
            style="border-radius: 50%; object-fit: cover"
            src="<%=userPhoto%>"
            alt=""
          />
          <% } else { %>

          <div class="user">
            <div class="circle_user"><i class="fa-solid fa-user"></i></div>
          </div>
          <%}%>
        </div>
        <a href="/login/account/<%= info.name %>"
          ><strong class="user_connect"><%= info.name %></strong></a
        >
      </div>
      <% } else if (locals.inAccount) { %> <% }else { %>

      <div class="user">
        <div class="circle_user"><i class="fa-solid fa-user"></i></div>
        <a href="/login"><strong class="user_connect">Se connecter</strong></a>
      </div>
      <% } %>
    </header>
    <nav class="main_nav">
      <ul class="menu_list">
        <li class="menu_item">
          <a class="menu_link" href="/"><i class="fa-solid fa-house"></i></a>
        </li>
        <li class="menu_item">
          <a class="menu_link" href="#"
            ><i class="fa-solid fa-magnifying-glass"></i
          ></a>
        </li>
        <li class="menu_item">
          <a class="menu_link" href="#"
            ><i class="fa-regular fa-compass"></i
          ></a>
        </li>
        <li class="menu_item">
          <a class="menu_link" href="#"
            ><i class="fa-solid fa-clapperboard"></i
          ></a>
        </li>
        <li class="menu_item">
          <a class="menu_link" href="#"><i class="fa-regular fa-heart"></i></a>
        </li>
        <li class="menu_item">
          <a class="menu_link" href="#"><i class="fa-solid fa-plus"></i></a>
        </li>
      </ul>
    </nav>
  </body>
</html>
