<%- include('./partials/header') %>
<main>
  <div class="contain">
    <h2>Créez votre compte</h2>
    <% if (locals.errorLog) { %>
    <h3 style="color: red"><%= errorLog %></h3>
    <% } %>

    <form class="form-login" method="post">
      <fieldset>
        <label>
          <span class="text_label">Nom d'utilisateur*</span>
          <input name="name" placeholder="jambon_du_75" />
        </label>
      </fieldset>
      <fieldset>
        <label>
          <span class="text_label">Mot de passe*</span>
          <input name="password" type="password" />
        </label>
      </fieldset>
      <fieldset>
        <label class="label_import">
          <span class="text_label">Choisissez votre photo de profil</span>
          <input name="photo" placeholder="https://image.com" type="text" />
        </label>
      </fieldset>

      <button class="sub_button" type="submit">Créer le compte</button>
    </form>
    <p class="not_user">*Champs obligatoires</p>
  </div>
</main>
<%- include('./partials/footer') %>
