.account_inteface {
}
.account_header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.id_container {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.user_pfp {
  border: solid 0.4rem rgb(204, 204, 204);
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.circle_user {
  width: 10rem;
  height: 10rem;
}
.fa-right-from-bracket {
  color: white;
}
.fa-user {
  font-size: 4.5rem;
}
.user_name {
  font-size: 2rem;
  color: rgb(204, 204, 204);
}
.user_info {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.user_info_item {
  color: rgb(204, 204, 204);
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info_publi_numbers {
  font-size: 2rem;
}
.user_bio {
  color: rgb(204, 204, 204);
}
.user_publi {
}
.photo_container {
  list-style: none;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
}
.photo_item {
  height: 23rem;
  width: 18rem;
}
.photo_link {
}
.photo_post {
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  overflow: hidden;
}
.photo_post:hover {
  transform: scale(1.1);
}
