* {
  font-family: sans-serif;
}
html {
  background-color: rgb(36, 36, 36);
  height: 100vh;
}

.fa-regular {
  cursor: pointer;
}
body {
  position: relative;
}
/* *header */
header {
  padding: 1.5rem 5rem;

  border-bottom: solid 0.5px #3d3d3d;
}

h1 {
  color: white;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
}
.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;
}
.user_connect {
  color: white;
  font-weight: 900;
}
.user_connect:hover {
  text-decoration: underline;
}
.circle_user {
  border: solid 2px white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.fa-user {
  color: white;
}

.main_nav {
  position: absolute;
  left: 8vh;
  top: 25vh;
  height: 100vh;
}
.menu_list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.menu_item {
}
.menu_link {
  color: white;
  font-size: 2rem;
}

/* *main */
main {
  margin: 0 10% auto;
  border-left: solid 0.5px #3d3d3d;
  border-right: solid 0.5px #3d3d3d;
}
/* *index */
/* article */

.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem 15%;
  height: 100vh;
  overflow-y: scroll;

  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgb(204, 204, 204) rgb(36, 36, 36);
  scrollbar-gutter: stable both-edges;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 0.5px #3d3d3d;

  width: 90%;
  height: max-content;
  gap: 1rem;
  padding: 1.5rem 3rem;
}

.post p,
em {
  color: rgb(204, 204, 204);
}
.post_user {
  width: 100%;
}
.post_user > .user_link {
  display: flex;
  width: min-content;
  gap: 1rem;

  align-items: center;
}

.post_user_img {
  width: 2rem;
  height: 2rem;
  border: solid 2px rgb(204, 204, 204);
  border-radius: 50%;
  object-fit: cover;
}

.post_user_name {
  font-style: normal;
  font-weight: 800;
}
.post_user_name:hover {
  text-decoration: underline;
}
.post_img {
  width: 100%;
}
.post_img_img {
  width: 100%;
}
.post_interaction {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

/* dans le post_interaction */
.post_inraction_list {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  gap: 1rem;
}
.fa-bookmark {
  position: absolute;
  right: 0;
}
.enr_ok {
  position: absolute;
  right: -7.5%;
  bottom: 150%;
  background-color: #141414;
}
.enr_ok_display_none {
  display: none;
}
.enr_ok_display_block {
  display: block;
}
.text_enr_ok {
  font-size: 0.8rem;
  padding: 0.3rem;
}
.intraction_item {
  display: flex;
}

.intraction_item > i {
  color: rgb(204, 204, 204);
  font-size: 1.7rem;
}

.post_interaction_like_number {
  font-weight: 900;
  font-size: 0.9rem;
}
.post_description {
}
.post_description_text {
}
.post_comment_add {
}
.post_comment_add--add {
}

/* *footer */
footer {
  border-top: solid 0.5px #3d3d3d;
}
